/* IMPOSTAZIONI GENERALI */

body {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 1.8;
  text-align: center;
}
h1 {
  font-size: 4rem;
  line-height: 1;
}
h2 {
  font-size: 3.5rem;
  line-height: 1.1;
}

h3 {
  font-size: 2rem;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  position: sticky;
  top: 0px;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
}

/* MAIN */
#heading {
  background-image: url(../images/banner.jpg);
  background-position: center center;
  height: 380px;
  text-align: left;
  padding: 30px;
}

#first-section {
  margin: 20px;
  margin-bottom: 50px;
  padding: 0 auto;
}
.title {
}

.content {
}

section {
  background-color: blue;
  padding: 20px;
}

aside {
}

/* FOOTER */
footer {
  background-color: lightgray;
  text-align: left;
  padding: 20px;
}

/* RESPONSIVE */

@media screen and (min-width: 1020px) {
  header {
    display: flex;
    justify-content: space-around;
    height: 50px;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
  }

  nav {
    display: flex;
    gap: 20px;
  }

  /* MAIN */
  #heading {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    height: 300px;
    text-align: center;
    padding-top: 50px;
  }

  #first-section {
    margin: 20px;
    margin-bottom: 50px;
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .title {
    width: 100%;
  }

  .content {
    width: 300px;
  }

  section {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 100px;
  }

  aside {
    margin: 50px;
    display: flex;
    gap: 20px;
  }

  /*FOOTER*/
  footer {
    display: flex;
  }
}
